<div>
    <h2>以下の内容で送信する</h2>
</div>
<%= form_with(model: @user, url: users_path, local: true) do |f| %>
    <%= f.hidden_field :name %>
    <%= f.hidden_field :email %>
    <div>
        名前: <%= @user.name %>
    </div>
    <div>
        メールアドレス: <%= @user.email %>
    </div>
    <div>
        <%= f.submit %>
    </div>
<% end %>

<%= form_with(model: @user, url: new_user_path, method: :get, local: true) do |f| %>
    <%= f.hidden_field :name %>
    <%= f.hidden_field :email %>
    <%= f.submit '戻る', name: 'back' %>
<% end %>