<h1>投稿一覧</h1>
<%= page_entries_info @pictures %>
<%= paginate @pictures %>

<div>
  <% @pictures.each do |picture| %>
    <div>
      <li><%= image_tag picture.image.url %></li>
      <li>
        <%= picture.content %>
        <%= link_to '詳細', picture_path(picture.id) %>
      </li> 
    </div>
  <% end %>
</div>