<!DOCTYPE html>
<html>
    <head>
        <title><%= full_title(yield(:title)) %></title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>
        <div class="container">
            <%= render 'layouts/header' %>
            <div class="content-wrapper">
                <% flash.each do |msg_type, msg| %>
                    <div class="alert alert-<%= msg_type %>">
                        <%= msg %>
                    </div>
                <% end %>
                <%= yield %>
            </div>
            <%= render 'layouts/footer' %>
        </div>
    </body>
</html>
